<ion-header>
  <ion-navbar>
    <ion-title>Vulns for {{vulns.SoftwareName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-list>
        <ion-item *ngFor="let vuln of vulns.Vulnerabilities; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <ion-item>
            <div class="circle-text" style="display: inline-block">
              <div>{{vuln.cvss_score}}</div>
            </div>
            <div style="display: inline-block" ><h3>{{vuln.cve_id}}</h3></div>
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-item>
          <div *ngIf="isGroupShown(i)">
            <ion-card-content>{{vuln.summary}}</ion-card-content>
            <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <div>Published date: {{vuln.publish_date}}</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                Last updated: {{vuln.update_date}}
              </ion-note>
            </ion-col>
          </ion-row>
        </div>
        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>